@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

/* body {
  scrollbar-width: none;
} */

body::-webkit-scrollbar {
  /* width: 0.2rem; */
  display: none;
}

/* body::-webkit-scrollbar-thumb {
  background-color: #58000039;
  width: 0.1rem;
  border-radius: 1rem;
} */

.my-navbar{
  height: 60px;
}

/* Setting up full height for row excluding Navbar */
.full-height-row {
  min-height: calc(100vh - 110px);
}


.dev-card{
  height: 350px !important;
  border-radius: 1rem !important;
}

.dev-header{
  background-image: url(https://developer.salesforce.com/resources2/career2017/images/header-bg-2.svg?v=2);
  background-position: right -2px top -15px;
  height: 150px;
  border-radius: 1rem 1rem 0 0 !important;
}

.dev-header img {
  height: 150px;
  width: 150px;
  position: relative;
  top: 15px;
}

.landing-page{
  width: 100%;
  height: 100vh;
    /* background: rgb(38,175,231);
    background: linear-gradient(90deg, rgba(38,175,231,1) 0%, rgba(12,63,245,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%); */
  background: url('landingPage.png') fixed center;
  background-size: cover;
  /* background-position: right -20px top -40px; */
}

/* .my-container{
  border: 1px solid blue;
}

.my-row {
  border: 1px solid black;
}

.my-col {
  border: 1px solid green;
} */

.landing-wrapper .landing-title {
  font-size: 74px;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: red;
}

.landing-wrapper .landing-qoute {
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}

.landing-wrapper .landing-slogan::after{
  content: '';
  animation: cities  12s infinite linear;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: rgba(255, 0, 0, 0.829);
}

@keyframes cities {
  0%{ content: 'Be the difference, donate blood';}
  10%{ content: 'Be a donor, be a lifeline.';}
  20%{ content: 'Give the gift of life – donate blood.';}
  30%{ content: 'Every drop counts: donate blood today.';}
  40%{ content: 'Be a blood donor, be a blessing.';}
  50%{ content: 'Share life: donate blood.';}
  60%{ content: 'Be a part of the cure – donate blood.';}
  70%{ content: 'Your blood, their hope: donate now.';}
  80%{ content: 'Be bold, be brave, donate blood.';}
  90%{ content: 'Be a lifesaver, be a blood donor.';}
  100%{ content: 'Donate blood, save lives: be a hero.';}
}
